/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); */

:root{
  --primary-white: hsl(0, 0%, 85%);
  --secondary-white: hsl(0, 0%, 96%);
  --tertiary-white: hsl(0, 0%, 70%);
  --icon: hsl(240, 0%, 50%);
  --primary-black: hsl(240, 15%, 10%);
  --secondary-black: hsl(0, 0%, 20%);
  --tertiary-black: hsl(240, 10%, 15%);
  --quaternary-black: hsl(240, 10%, 5%);
  --grey-1:hsl(0, 0%, 50%);
  --grey-2:hsl(0, 0%, 25%);
  --grey-3:hsl(0, 0%, 45%);
  --font-weight: 500;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --font-size-ss:12px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow: auto;
}
body {
  background-color: var(--secondary-black);
  color: var(--primary-white);
  font-family: "Inter", sans-serif;
}
ul,li{
  list-style: none;
  outline: none;
}
button,
input,
select,
textarea,
label {
  font-family: inherit;
  outline: none;
  border: none;
}
input[type='radio'] {
  appearance: none;
}
input[type='range']{
  appearance: none;
  background-color: transparent;
  width: 0;
}
input[type='range']::-webkit-slider-thumb{
  appearance: none;
}
input[type='range']::-moz-range-track{
  background:transparent; 
  border:0px;
}
input[type='range']::-moz-range-thumb{
  background:transparent; 
  border:0px;
}
output{
  /* padding-inline: 1rem; */
  width: 2ch;
  text-align: right;
  margin-inline-end: 1ch;
}
.grid{
  max-width: 980px;
  display: grid;
  grid-template-columns: 360px minmax(360px, max-content);
  grid-template-areas:
  "title description";
  gap: 2rem;
  place-items: end start;
}
#board{
  padding-block: 3rem;
  padding-inline: 3rem;
}
#board svg{
  grid-area: title;
  width: 360px;
  height: 360px;
  min-width: 360px;
  vertical-align: bottom;
}
#board .flex{
  gap: 2rem;
  align-items: start;
}
#board .note .flex{
  gap: 0;
}
.flex-direction-column{
  flex-direction: column;
}
.description{
  grid-area: description;
  background-color: var(--primary-black);
  padding: 2rem;
  padding-inline: 3rem;
  border-radius: 2rem;
  font-weight: 300;
}
.description button{
  padding-inline: 12px;
  padding-block: 4px;
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  border-radius: 1rem;
  margin-inline-end: 6px;
  cursor: pointer;
}
.description button:focus-visible{
  background-color: var(--primary-white);
  color: var(--secondary-black);
}
#board .description button:active{
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.description ol{
	counter-reset: list;
}
.description li {
  position: relative;
  list-style: none;
  padding-inline-start: 2rem;
  line-height: 1.6;
  text-wrap: balance;
}
.description li::before{
  position: absolute;
	top: 0;
	left: 0;
	font-weight: 600;
	color: var(--primary-white);
	counter-increment: list;
	content: counter(list)'.';
}
.description li + li{
  margin-block-start: 1rem;
}
.note{
  background-color: var(--primary-black);
  padding: 2rem;
  padding-inline: 3rem;
  border-radius: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
}
.note span{
  font-weight: 600;
}
.note span + span{
  font-weight: 300;
  padding-inline-start: 1rem;
}
.icon svg{
  width: 14px;
  fill: var(--icon);
  margin-inline-end: 8px;
  transform: translateY(2px);
  /* display: none; */
}
.object-icon svg{
  fill: var(--primary-white);
  width: 14px;
  height: 14px;
  vertical-align: top;
  transform: translateY(1px);
}
.margin-inline-end-4px{
  margin-inline-end: 4px;
}
.margin-inline-end-8px{
  margin-inline-end: 8px;
}
.button{
  width: 95%;
  height: 100%;
  margin-inline: auto;
  /* height: 100%; */
  font-size: var(--font-size-medium);
  padding-inline-start: 2.5rem;
  padding-inline-end: 1.5rem;
  border-radius: 8px;
  font-weight: var(--font-weight);
  background-color: var(--primary-black);
  color: var(--primary-white);
  line-height: 2;
  text-align: left;
  /* border-top: 1px solid var(--secondary-black);
  border-bottom: 1px solid　var(--secondary-black); */

  /* transition: 0.1s; */
}
/* .button:focus{
  background-color: var(--primary-white);
  color: var(--secondary-black);
} */
.button:focus-visible{
  background-color: var(--primary-white);
  color: var(--secondary-black);
}
.button:focus-visible svg{
  fill: var(--secondary-black);
}
.button:focus-visible label{
  color: var(--secondary-black);
}
/* .button:active{
  background-color: var(--secondary-white);
  color: var(--secondary-black);
} */
.menu{
  min-width: 420px;
  max-height: 700px;
  position: fixed;
  padding-block-start: 1.5rem;
  padding-block-end: 3rem;
  border-radius: 1rem;
  /* transition: 0.2s; */
  background-color: var(--primary-black);
  /* border: 1px solid#000; */
  bottom:3rem;
  left:3rem;
  height: calc(90vh - 1rem);
}
.menu.show .shortcut{
  display: block;
}
.menu-content{
  display: grid;
  /* gap: 0.5rem; */
  height: 100%;
  overflow: auto;
}
.menu.close{
  width: 0;
  min-width: 0;
  padding: 0;
  border:none;
}
.menu.close .menu-content{
  display: none;  
}
.menu.close #close-button{
  display: none;
}
.menu-content .active-button:active{
  background-color: var(--secondary-white);
  color: var(--primary-black);
}
.menu-content .active-button:active svg{

  fill: var(--primary-black);
}
.menu-content .active-button:active label{

  color: var(--primary-black);
}

.button-type-b:focus-visible{
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.button label{
  color: var(--tertiary-white);
  display: none;
}

.button output{
  color: var(--tertiary-white);
}
label{
  line-height: 1.5;
  padding-inline: 1rem;
  border-radius: 1rem;
}
label:focus-visible{
  box-shadow:0 0 0 1px var(--tertiary-white) inset;
}
.inline-button{
  font-weight: var(--font-weight);
  background-color: inherit;
  color: var(--tertiary-white);
  display: inline-block;
  line-height: 1.5;
  padding-inline: 1rem;
  border-radius: 8px;
}
span.inline-button{
  outline: none;
}

/* span.inline-button:focus{
  background-color: var(--primary-white);
  color: var(--secondary-black);
} */
span.inline-button:focus-visible{
  background-color: var(--tertiary-white);
  color: var(--secondary-black);
}
span.inline-button:active{
  background-color: var(--secondary-white);
  color: var(--secondary-black);
}
input[type="radio"]:checked + label{
  /* background-color: var(--tertiary-white);
  color: var(--secondary-black); */
  display: block;
}

/* .tooltip {
  position: absolute;
  display: none;
  font-size: 12px;
  padding: 4px;
  color: var(--secondary-black);
  background-color: var(--secondary-white);
  border-radius: 4px;
  font-weight: var(--font-weight);
  z-index: 1;
} */
.flex{
  display: flex;
  align-items: center;
}

.row-1{
  margin-right: auto;
}
.margin-left{
  margin-left: 1.5rem;
}
.shortcut{
  background-color: var(--primary-black);
  color: var(--tertiary-white);
  min-width: 45px;
  text-align: center;
  line-height: 1.4;
  border-radius: 6px;
  position: absolute;
  right: -5rem;
  padding-inline: 0.8rem;
  padding-block: 4px;
  display: none;
}
.shortcut.show{
  display: block;
}

.margin-left{
  margin-left: 1.5rem;
}
/* .margin-block-end-0{
  margin-block-end: calc(1rem / 2);
} */
.margin-block-end-1{
  margin-block-end: 1rem;
}
/* .height-100{
  height: 100%;
} */
#file-input {
  display: none;
}

.object{
  color:var(--grey-1);
  font-size: var(--font-size-small);
  padding-inline-start: 2rem;
  padding-block: calc(1rem / 2);
  transform: translateY(4px);
}
.open-button{
  width: 64px;
  height: 64px;
  font-size: var(--font-size-ss);
  border-radius: 1rem;
  /* padding: 8px; */
  background-color: var(--primary-black);
  color: var(--primary-white);
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}
.open-button:focus{
  box-shadow:0 0 0 1px var(--primary-white) inset;
}
.open-button:hover{
  box-shadow:0 0 0 1px var(--primary-white) inset;
}
.close-button{
  font-size: var(--font-size-ss);
}
.menu.close .open-button{
  display: block;  
}
/* .container {
  padding-block:2rem;
} */

.image-container{
  /* padding: 1rem 0; */
  height: auto;
}

#canvas {
  vertical-align: bottom;
  display: none;
}

#colorInfo {
  --background-color: var(--tertiary-white);
  position: relative;
  color: var(--tertiary-white);
  padding-inline-end: 1rem;
}
#colorInfo::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--background-color);
  transform: translate(-50%, 15%);
}
#close-button{
  padding-block: calc(1rem / 2);
  width: 95%;
  height: auto;
  /* position: absolute; */
}


.menu-content::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--primary-black);
}

.menu-content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--grey-2)
}

.menu-content::-webkit-scrollbar{
  background-color: white;
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

@media (width > 800px){
  .button:hover{
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  .button:hover svg{
    fill: var(--secondary-black);
  }
  .button:hover label{
    color: var(--secondary-black);
  }
  .button-type-b:hover{
    background-color: var(--primary-black);
    color: var(--primary-white);
  }
  .button-type-b:hover svg{
    fill: var(--icon);
  }
  span.inline-button:hover{
    background-color: var(--tertiary-white);
    color: var(--secondary-black);
  }
  /* label:hover{
    box-shadow:0 0 0 1px var(--tertiary-white) inset;
  } */
  .description button:hover{
    background-color: var(--primary-white);
    color: var(--primary-black);
  }
}
@media (width < 800px) {

  .grid{
    grid-template-areas:
    "title"
    "description";
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .note{
    border-radius: 1rem;
    padding-inline: 2rem;
  }
  #board{
    padding-block: 1rem;
    padding-inline: 1rem;
  }
  #board .flex{
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  #board svg{
    width: 240px;
    height: 240px;
    min-width: 240px;
  }
  .description{
    padding: 1.5rem;
    padding-inline: 2rem;
    border-radius: 1.5rem;
  }
  #board .description button:active{
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  #board .note .flex{
    flex-direction: row;
  }
  #fileInput {
    width: 100%;
  }

  .menu{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    max-width: 450px;
    min-width: 280px;
    /* min-height: 630px; */
    /* height: auto; */ 
  }
  /* .menu-content .button:nth-child(odd){
    background-color: var(--tertiary-black)
  } */
  /* .button:nth-child(even){
    background-color: var(--quaternary-black)
  }
  .button:last-child{
    background-color: var(--primary-black)
  } */
  .menu-content .button:focus-visible{
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  .menu-content .active-button:active label{
    color: var(--secondary-black);
  }
  .menu-content .active-button:active{
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  #close-button span{
    transform: translateY(0px);
  }
  
  .open-button{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
  input{
    max-width: 30%;
  }
  .button{
    min-width: 280px;
    padding-inline-start: 1.5rem;
    padding-inline-end: 0;
  }
  .object{
    padding-inline-start: 1.5rem;
  }

  .margin-left{
    margin-left: 0;
  }
  .align-self-stretch{
    align-self: stretch;
  }
}