/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); */

:root{
  --primary-white: hsl(0, 0%, 85%);
  --secondary-white: hsl(0, 0%, 96%);
  --tertiary-white: hsl(0, 0%, 70%);
  --icon: hsl(240, 0%, 50%);
  --primary-black: hsl(240, 15%, 10%);
  --secondary-black: hsl(0, 0%, 20%);
  --tertiary-black: hsl(240, 10%, 15%);
  --quaternary-black: hsl(240, 10%, 5%);
  --grey-1:hsl(0, 0%, 50%);
  --grey-2:hsl(0, 0%, 25%);
  --grey-3:hsl(0, 0%, 45%);
  --font-weight: 500;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --font-size-ss:12px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow: auto;
}
body {
  background-color: var(--secondary-black);
  color: var(--primary-white);
  font-family: "Inter", sans-serif;
}
button,
input,
select,
textarea,
label {
  font-family: inherit;
  outline: transparent;
  border: none;
}
input[type='radio'] {
  appearance: none;
}
input[type='range']{
  appearance: none;
  background-color: transparent;
  width: 0;
}
input[type='range']::-webkit-slider-thumb{
  appearance: none;
}
input[type='range']::-moz-range-track{
  background:transparent; 
  border:0px;
}
input[type='range']::-moz-range-thumb{
  background:transparent; 
  border:0px;
}
output{
  padding-inline: 1rem;
}
.icon svg{
  width: 14px;
  fill: var(--icon);
  margin-inline-end: 8px;
  transform: translateY(2px);
  /* display: none; */
}
.object-icon svg{
  fill: var(--primary-white);
  width: 14px;
  height: 14px;
  vertical-align: top;
  transform: translateY(1px);
}
.margin-inline-end-4px{
  margin-inline-end: 4px;
}
.margin-inline-end-8px{
  margin-inline-end: 8px;
}
.button{
  /* height: 100%; */
  font-size: var(--font-size-medium);
  padding-inline: 3rem;
  /* border-radius: 4px; */
  font-weight: var(--font-weight);
  background-color: var(--primary-black);
  color: var(--primary-white);
  line-height: 2;
  text-align: left;
  /* border-top: 1px solidvar(--secondary-black);
  border-bottom: 1px solidvar(--secondary-black); */

  /* transition: 0.1s; */
}
/* .button:focus{
  background-color: var(--primary-white);
  color: var(--secondary-black);
} */
.button:focus-visible{
  background-color: var(--primary-white);
  color: var(--secondary-black);
}
.button:focus-visible svg{
  fill: var(--secondary-black);
}
/* .button:active{
  background-color: var(--secondary-white);
  color: var(--secondary-black);
} */
.nav-content .active-button:active{
  background-color: var(--quaternary-black);
  color: var(--secondary-white);
}

.button-type-b:focus-visible{
  background-color: var(--primary-black);
  color: var(--primary-white);
}
.button label{
  color: var(--tertiary-white);
}
.button output{
  color: var(--tertiary-white);
}
label{
  line-height: 1.5;
  padding-inline: 0.8rem;
  border-radius: 1rem;
}
label:focus-visible{
  box-shadow:0 0 0 1px var(--tertiary-white) inset;
}
.inline-button{
  font-weight: var(--font-weight);
  background-color: inherit;
  color: var(--tertiary-white);
  display: inline-block;
  line-height: 1.5;
  padding-inline: 1rem;
  border-radius: 1rem;
}
span.inline-button{
  outline: transparent;
}

/* span.inline-button:focus{
  background-color: var(--primary-white);
  color: var(--secondary-black);
} */
span.inline-button:focus-visible{
  background-color: var(--tertiary-white);
  color: var(--secondary-black);
}
span.inline-button:active{
  background-color: var(--secondary-white);
  color: var(--secondary-black);
}
input[type="radio"]:checked + label{
  background-color: var(--tertiary-white);
  color: var(--secondary-black);
  
}

/* .tooltip {
  position: absolute;
  display: none;
  font-size: 12px;
  padding: 4px;
  color: var(--secondary-black);
  background-color: var(--secondary-white);
  border-radius: 4px;
  font-weight: var(--font-weight);
  z-index: 1;
} */
.flex{
  display: flex;
  align-items: center;
}

.row-1{
  min-width: 80px;
  margin-right: auto;
}
.margin-left{
  margin-left: 1.5rem;
}
.shortcut{
  color: var(--grey-1);
  min-width: 45px;
  text-align: right;
}
.margin-right{
  margin-right: 1rem;
}
.margin-left{
  margin-left: 1.5rem;
}
/* .margin-block-end-0{
  margin-block-end: calc(1rem / 2);
} */
.margin-block-end-1{
  margin-block-end: 1rem;
}
/* .height-100{
  height: 100%;
} */
#file-input {
  display: none;
}
.navigation{
  min-width: 400px;
  max-height: 700px;
  position: fixed;
  padding: 1.5rem 0;
  border-radius: 1rem;
  /* transition: 0.2s; */
  background-color: var(--primary-black);
  /* border: 1px solid#000; */
  bottom:3rem;
  left:3rem;
  height: calc(90vh - 1rem);
}
.nav-content{
  display: grid;
  /* gap: 0.5rem; */
  height: 100%;
  overflow: auto;
}
.navigation.close{
  width: 0;
  min-width: 0;
  padding: 0;
  border:none;
}
.navigation.close .nav-content{
  display: none;  
}
.object{
  color:var(--grey-1);
  font-size: var(--font-size-small);
  padding-inline-start: 2rem;
  padding-block: calc(1rem / 2);
}
.open-button{
  width: 64px;
  height: 64px;
  font-size: var(--font-size-ss);
  border-radius: 1rem;
  /* padding: 8px; */
  background-color: var(--primary-black);
  color: var(--primary-white);
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}
.open-button:focus{
  box-shadow:0 0 0 1px var(--primary-white) inset;
}
.open-button:hover{
  box-shadow:0 0 0 1px var(--primary-white) inset;
}
.close-button{
  font-size: var(--font-size-ss);
}
.navigation.close .open-button{
  display: block;  
}
/* .container {
  padding-block:2rem;
} */

.image-container{
  /* padding: 1rem 0; */
  height: auto;
}

#canvas {
  vertical-align: bottom;
  display: none;
}

#colorInfo {
  --background-color: var(--tertiary-white);
  position: relative;
  margin-right: calc(1rem + 45px);
  color: var(--tertiary-white);
}
#colorInfo::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--background-color);
  transform: translate(-50%, 15%);
}
#close-button{
  padding-block-start: calc(1rem / 2);
}

.nav-content::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: var(--primary-black);
}

.nav-content::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--grey-2)
}

.nav-content::-webkit-scrollbar{
  background-color: white;
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

@media (width > 800px){
  .button:hover{
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  .button:hover svg{
    fill: var(--secondary-black);
  }
  .button-type-b:hover{
    background-color: var(--primary-black);
    color: var(--primary-white);
  }
  .button-type-b:hover svg{
    fill: var(--icon);
  }
  span.inline-button:hover{
    background-color: var(--tertiary-white);
    color: var(--secondary-black);
  }
  label:hover{
    box-shadow:0 0 0 1px var(--tertiary-white) inset;
  }
  
}
@media (width < 800px) {

  /* .icon{
    display: none;
  } */
  #fileInput {
    width: 100%;
  }
  #colorInfo {

    margin-right: 0;
  }
  .navigation{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    max-width: 450px;
    min-width: 280px;
    min-height: 630px;
    padding: 1rem 0;
    /* height: auto; */ 
  }
  .nav-content .button:nth-child(odd){
    background-color: var(--tertiary-black)
  }
  /* .button:nth-child(even){
    background-color: var(--quaternary-black)
  }
  .button:last-child{
    background-color: var(--primary-black)
  } */
  .nav-content .button:focus-visible{
    background-color: var(--primary-white);
    color: var(--secondary-black);
  }
  .active-button:active{
    background-color: var(--secondary-white);
    color: var(--secondary-black);
  }
  .nav-content .active-button:active{
    background-color: var(--secondary-white);
    color: var(--secondary-black);
  }
  .open-button{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
  }
  input{
    max-width: 30%;
  }
  .button{
    min-width: 280px;
    padding-inline: 2rem;
  }
  .object{
    padding-inline-start: 2rem;
  }
  .shortcut{
    display: none;
  }

  .margin-right{
    margin-right: 0;
  }
  .margin-left{
    margin-left: 0;
  }
  .align-self-stretch{
    align-self: stretch;
  }
}